{{ define "title" }} Roadmap {{ end }}
{{ define "body" }}
<div class="main-body"> 
    <div class="roadmap-container">

        <div class="roadmap-column planned">
            <div class="roadmap-column-title">
                <h2>Planned</h2>
            </div>
            <div class="roadmap-column-content-scroll">
                <ul class="roadmap-list">
                    <li>BotSuite
                        <ul>
                            <li>Discord Integration</li>
                            <li>Youtube Integration</li>
                            <li>Telegram Integration</li>
                        </ul>
                    </li>
                    <li>Website
                        <ul>
                            <li>Fill Empty Pages</li>
                            <li>Tons of CSS </li>
                        </ul>
                    </li>
                    <li>Sonar</li>
                    <li>Bouy</li>
                    <li>Lighthouse Integration to Dashboard</li>
                </ul>
            </div>
        </div>

        <div class="roadmap-column in-progress">
            <div class="roadmap-column-title">
                <h2>Under Construction</h2>
            </div>
            <div class="roadmap-column-content-scroll">
                <ul class="roadmap-list">
                    <li>Backend for bot.Mobasity.com
                        <ul>
                            <li>Migrate Existing Project into Monorepo</li>
                        </ul>
                    </li>
                    <li>BotSuite
                        <ul>
                            <li>Migrate to Database</li>
                            <li>Host on Server</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="roadmap-column completed">
            <div class="roadmap-column-title">
                <h2>Completed (kinda)</h2>
            </div>
            <div class="roadmap-column-content-scroll">
                <ul class="roadmap-list">
                    <li>Server Infrastructure
                        <ul>
                            <li>Lighthouse</li>
                            <li>Cove</li>
                            <li>Postgres Database</li>
                        </ul>
                    </li>
                    <li>BotSuite
                        <ul>
                            <li>Twitch Integration</li>
                        </ul>
                    </li>
                    <li>Website
                        <ul>
                            <li>Hosted on Server</li>
                            <li>Monorepo Support</li>
                            <li>Docker Support</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{ end }}